@font-face {
  font-family: "CenturyGothic-Regular";
  src: url("../fonts/CenturyGothic-Regular/CenturyGothic.eot");
  src: url("../fonts/CenturyGothic-Regular/CenturyGothic.eot?#iefix") format("embedded-opentype"),
  url("../fonts/CenturyGothic-Regular/CenturyGothic.woff") format("woff"),
  url("../fonts/CenturyGothic-Regular/CenturyGothic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "CenturyGothic-Bold";
  src: url("../fonts/CenturyGothic-Bold/CenturyGothic-Bold.eot");
  src: url("../fonts/CenturyGothic-Bold/CenturyGothic-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/CenturyGothic-Bold/CenturyGothic-Bold.woff") format("woff"),
  url("../fonts/CenturyGothic-Bold/CenturyGothic-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noise_Warning_Regular";
  src: url("../fonts/Noise_Warning_Regular/Noise_Warning_Regular.woff") format("woff"),
  url("../fonts/Noise_Warning_Regular/Noise_Warning_Regular.woff2") format("woff2"),
  url("../fonts/Noise_Warning_Regular/Noise_Warning_Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}


